@charset "UTF-8";

.raised-button {
	margin-top: 12px;
}
.raised-button.raised-button-margin-right {
	margin-right: 12px;
}
.full-width-text-field {
	width: 100% !important;
}
.no-full-width {
	width: auto !important;
}